@import 'reset.scss';
// /* SmoothStone-Regular */

@font-face {
    font-family: "SmoothStone";
    src: url("../fonts/SmoothStone-Regular.otf") format("otf"),
         url("../fonts/SmoothStone-Regular.woff") format("woff"),
         url("../fonts/SmoothStone-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
};


//------------------ Index.HTML 

html {
  margin: 20px;
  display: flex;
}

.macro-pie-container {
  margin-top: 50px;
  padding-left: 50px;
  display: inline-block
}

.micro-bar-container {
  width: 850px;
  height: 700px;
}

.macro-btn-container {
  display: flex;
  justify-content: center;
}


//------------------ Pie Chart 

#pie-k, #pie-p, #pie-f, #pie-c {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

#pie-chart svg {
  display: flex;
  justify-content: center;
}

#macro-pie-title {
  font-family: "SmoothStone"; 
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 14px;
}

#pie-chart {
  font-family: "SmoothStone"; 
  letter-spacing: 2px;
} 


//------------------ Bar Chart 

#bar-chart .micro-categories, .micro-title {
  font-family: "SmoothStone"; 
  font-size: 40px;
  letter-spacing: 5px;
} 

#bar-chart .label-grams, .label-milligrams {
  font-family: "SmoothStone"; 
  font-size: 26px;
  letter-spacing: 5px;
} 


//------------------ Nutrition Facts Label


.nutrition-facts-container {
  line-height: 1.5;
  margin: 30px;
  padding: 10px 5px 5px;
  border: 1px solid black;
  width: 280px;
}

.nutrition-facts-title {
  font-weight: bold;
  font-size: 30px;
  border-bottom: 8px solid black;
  width: 99%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.nutrition-facts-table table {
  margin: 0;
}

.small-info {
  font-weight: normal;
  font-size: 11px;
  padding-bottom: 3px;
  width: 270px;
}

.daily-values {
  font-weight: normal;
  font-size: 11px;
  border-top: 1px solid black;
  width: 270px;
  margin: 5px 5px 0;
  padding: 5px 0 0;
}

.daily-total {
  font-size: 11px;
  border-top: 4px solid black;
  width: 270px;
  margin: 5px 5px 0;
  padding: 5px 0 3px 183px;
}

//------------------ Nutrition Totals

#total-calories,
#total-fat, 
#total-saturated-fat,
#total-cholesterol,
#total-sodium,
#total-potassium,
#total-carbohydrate-fiber,
#total-dietary-fiber,
#total-sugar,
#total-protein,
#total-calcium, 
#total-iron,
#total-vitamin-C, 
#total-vitamin-A {
  font-weight: normal;
  float: right;
}

//------------------ Nutrition Titles

.each-title {
  border-top: 1px solid black;
  padding: 4px 0 2px;
  font-size: 12px;
  font-weight: normal;
  padding-left: 20px;
}

.each-title-bold {
  border-top: 1px solid black;
  padding: 4px 0 2px;
  font-size: 12px;
}
